<!--<h1 style="text-align: center"> Jacob Quotes </h1>-->
<ngb-carousel *ngIf="quotesService.quotes" class="centerE" >
  <ng-template ngbSlide *ngFor="let quote of quotesService.quotes; let i = index">
    <img src="{{images[i%images.length]}}" alt="first slide" style="display: block; width: 100%; overflow: hidden;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{quote[0]}}</h3>
      <p>-- Jacob, {{quote[1]}} {{i}}</p>
    </div>
  </ng-template>
</ngb-carousel>
